
@keyframes ldio-sgj6wlyezg {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-sgj6wlyezg div { box-sizing: content-box; }
.ldio-sgj6wlyezg {
  width: 200px;
  height: 200px;
  margin: auto;
  position: relative;
  margin: auto;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-sgj6wlyezg div {
  left: 94px;
  top: 53px;
  position: absolute;
  animation: ldio-sgj6wlyezg linear 1.2195121951219512s infinite;
  background: #1d3f72;
  width: 12px;
  height: 26px;
  border-radius: 6px / 13px;
  transform-origin: 6px 47px;
}.ldio-sgj6wlyezg div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.132404181184669s;
  background: #1d3f72;
}.ldio-sgj6wlyezg div:nth-child(2) {
  transform: rotate(25.714285714285715deg);
  animation-delay: -1.0452961672473868s;
  background: #1d3f72;
}.ldio-sgj6wlyezg div:nth-child(3) {
  transform: rotate(51.42857142857143deg);
  animation-delay: -0.9581881533101045s;
  background: #1d3f72;
}.ldio-sgj6wlyezg div:nth-child(4) {
  transform: rotate(77.14285714285714deg);
  animation-delay: -0.8710801393728222s;
  background: #1d3f72;
}.ldio-sgj6wlyezg div:nth-child(5) {
  transform: rotate(102.85714285714286deg);
  animation-delay: -0.7839721254355401s;
  background: #1d3f72;
}.ldio-sgj6wlyezg div:nth-child(6) {
  transform: rotate(128.57142857142858deg);
  animation-delay: -0.6968641114982578s;
  background: #1d3f72;
}.ldio-sgj6wlyezg div:nth-child(7) {
  transform: rotate(154.28571428571428deg);
  animation-delay: -0.6097560975609756s;
  background: #1d3f72;
}.ldio-sgj6wlyezg div:nth-child(8) {
  transform: rotate(180deg);
  animation-delay: -0.5226480836236934s;
  background: #1d3f72;
}.ldio-sgj6wlyezg div:nth-child(9) {
  transform: rotate(205.71428571428572deg);
  animation-delay: -0.4355400696864111s;
  background: #1d3f72;
}.ldio-sgj6wlyezg div:nth-child(10) {
  transform: rotate(231.42857142857142deg);
  animation-delay: -0.3484320557491289s;
  background: #1d3f72;
}.ldio-sgj6wlyezg div:nth-child(11) {
  transform: rotate(257.14285714285717deg);
  animation-delay: -0.2613240418118467s;
  background: #1d3f72;
}.ldio-sgj6wlyezg div:nth-child(12) {
  transform: rotate(282.85714285714283deg);
  animation-delay: -0.17421602787456444s;
  background: #1d3f72;
}.ldio-sgj6wlyezg div:nth-child(13) {
  transform: rotate(308.57142857142856deg);
  animation-delay: -0.08710801393728222s;
  background: #1d3f72;
}.ldio-sgj6wlyezg div:nth-child(14) {
  transform: rotate(334.2857142857143deg);
  animation-delay: 0s;
  background: #1d3f72;
}